*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(233, 230, 224);
}
.fa-cog{
    position: absolute;
    top: 15px;
    right: 10px;
    color: green;
    font-size: 20px;
    z-index: 3;
}
.fa-cog:hover{
    cursor: pointer;
}
.menu{
    position:absolute;
    top: -100vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(218, 218, 4);
    z-index: 2;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.theme{
    width: 30%;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.circle{
    width: 35px;
    height: 85%;
    border-radius: 50%;
    background-image: url('./img/sun.jfif');
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    left: 20%;
    transition: all 1s;
}
p{
    color: #192a56;
    font-weight: 600;
}
.fa-linkedin-in{
    color: blue;
    margin-top: 20px;
    font-size: 25px;
    transition: 0.5s;
}
.fa-linkedin-in:hover{
    cursor: pointer;
    font-size: 28px;
}
.fa-github{
    font-size: 25px;
    transition: 0.5s;
    color: blue;
}
.fa-github:hover{
    cursor: pointer;
    font-size: 28px;
}
.calendar-input{
    width: 30%;
    height: 100vh;
    border-right: 1px dotted darkgoldenrod;
}
.calendar-input button{
    width: 20vw;
    padding: 10px 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: #192a56;
    color: white;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
}
.calendar-input button:hover{
    cursor: pointer;
    border-radius: 0px;
    width: 22vw;
}
.calendar-input .calendar{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.calendar-input .calendar input{
    width: 80%;
    text-align: center;
    font-weight: 700;
    font-size: 2.9vh;
    border: none;
    border-radius: 20px;
}
.calendar-input .input{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.calendar-input .input input{
    width: 80%;
    height: 40%;
    overflow: hidden;
    font-size: 2vw;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
}
.date-plan{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.date-plan .date{
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 20px;
    font-size: 5vw;
    font-family: 'Alegreya', serif;
    color: #e1b12c;
}
.date-plan .time{
    text-align: center;
    color: #192a56;
    margin-top: 20px;
    width: 50%;
    height: 10%;
    font-size: 2em;
}
.date-plan .plan{
    width: 100%;
    height: 80%;
    
}
.pln{
    width: 90%;
    height: 3vw;
    margin: 10px auto;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #192a56;
    transition: 0.8s;
    border-radius: 20px;
    overflow-x: auto;
}
.noPlan{
    color: red;
    font-size: 5vw;
    font-weight: 900;
    width: 80%;
    height: 50vh;
    margin: auto auto;
    text-align: center;
}
.pln:hover{
    border-radius: 0;
}
.far{
    color: white;
    margin-right: 25px;
}
.far:hover{
    cursor: pointer;
}
@media (max-width:768px) {
    body{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .calendar-input{
        width: 100%;
        height: 50%;
        margin-top: 20px;
        border-bottom: 2px solid darkgoldenrod;
    }
    input{
        height: 90px;
    }
    button  {
        padding: 5px 0px 5px 0px !important;
        margin-top: 10px;
        height: 35px !important;
        width: 80% !important;
    }
    .date-plan{
        width: 100%;
        height: 80%;
    }
    .date-plan .time{
        width: 95%;
    }
    .date-plan .time{
        font-size: 1.5rem;
    }
}
